@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.container-edit-profile {
  width: 100%;
  height: 100vh;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 611px;
  height: 879px;
  border-radius: 20px;
  position: relative;

  background-color: #fff;
}

.modal img {
  position: absolute;
  top: 67px;
  right: 64.55px;

  cursor: pointer;
}

.modal h1 {
  margin-top: 61px;
  margin-left: 64px;

  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-top: 20px;
  height: 679px;
}

.modal form label {
  text-align: left;
  margin-left: 64px;
  margin-top: 26px;
  margin-bottom: 8.51px;

  color: #484848;

  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.top-42 {
  margin-top: 42px;
}

.modal form input,
.modal form select {
  width: 485px;
  height: 63.486px;
  border-radius: 5px;
  border: 1px solid #555;
  padding: 10px;
  margin: 0 auto;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.error-message {
  text-align: center;
  margin-top: 10px;

  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;

  color: #f30;
}

.modal form .button-submit {
  width: 236px;
  height: 42px;
  border-radius: 5px;
  border: 0;
  margin: 43px auto 0 auto;

  cursor: pointer;
  transition: all 0.2s;

  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;

  background-color: #7978d9;
  color: #fff;
}

.modal form .button-submit:hover {
  filter: brightness(0.9);
}
